.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  mat-sidenav {
    width: 200px;
    background-color: #034694;
    border-radius: 0px;
    padding: 20px;
  }
  
  mat-nav-list {
    padding: 0;
    margin-top: 40px;
  }
  
  mat-list-item {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 30px 0px 0px;
  }
  
  mat-list-item:hover {
    background-color: #bfd2eb !important;
    cursor: pointer;
    color: #000 !important;
  }
  
  mat-list-item.active {
    background-color: #E1EBEE;
  }
  
  mat-sidenav-content {
    padding: 16px;
    flex: 1;
    background-color: #c6daf5;
  }

  .collapse-sidenav-icon {
    float: right;
    margin-right: 5px;
    color: #E1EBEE;
  }

  .collapse-sidenav-icon:hover {
    background-color: #bfd2eb;
    cursor: pointer;
    color: black
  }

  .menu-icon:hover {
    color: #E1EBEE;
    background-color: #034694;
    padding: 2px;
  }

  .sidenav-list-icon {
    padding-right: 10px;
  }

  mat-list-item ::ng-deep span.mdc-list-item__primary-text {
    display: flex !important;
    color: #E1EBEE;
  }

  mat-list-item.active ::ng-deep span.mdc-list-item__primary-text {
    color: black;
  }